*{
    margin: 0;
    padding: 0;
}

#bg{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.data-upload{
    background-color: #dab1e2;
    height: 500px;
    width: 600px;
    border-radius: 5px;
    border: black solid 3px;
    margin-top: 110px;
    margin-left: 50px;
}

.data-upload p{
    font-size: medium;
    font-weight: bold;
    margin: 12px 0;
    color: black;
    margin-left: 20px;
}

.data-upload input{
    font-size: 16px;
    width: 250px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    border: black solid 3px;
    background: transparent;
    padding: 5px 3px;
    margin-left: 20px;
}

.data-upload select{
    margin-left: 20px;
    border: black solid 2px;
    outline: none;
    width: 90px;
    height: 23px;
    border-radius: 5px;
    background: transparent;
}

.data-upload label{
    font-weight: bold;
    margin: 10px;
}

.data-upload option{
    outline: none;
    width: 90px;
    height: 23px;
    background-color: #dab1e2;
        
}

.data-upload button{
    margin-left: 270px;
    margin-top: 60px;
    background: transparent;
    outline: none;
    border: 3px solid black;
    border-radius: 5px;
    padding: 2px 4px;
    font-weight: bold;
}

.response-box{
    background-color: #dab1e2;
    height: 400px;
    width: 500px;
    border-radius: 5px;
    border: black solid 3px;
    margin-top: 110px;
    margin-left: 450px;
}

.response-box p{
    font-size: medium;
    font-weight: bold;
    margin: 25px 0;
    color: black;
    text-align: justify;
    margin-left: 20px;
}

.response-box h3{
    margin-left: 20px;
}


.container{
    width: 500px;
    height: auto;
    background-color: white;
    margin-left: 900px;
    
}

table,th,td{
    width: 500px;
    margin: auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid #C39BD3;
    padding: 6px;
    border-collapse: collapse;
    
}

.no-records{
    text-align: center;
}

#message{
    font-size: x-large;
    font-weight: bolder;
}

.response-box{
    background-color: #dab1e2;
    height: 300px;
    width: 300;
    border-radius: 5px;
    border: black solid 3px;
    margin-bottom: 40px;
}

.response-box p{
    font-size: medium;
    font-weight: bold;
    margin: 25px 0;
    color: black;
    text-align: justify;
    margin-left: 20px;
}